build/*
install/*
data/*
ext/*
lib/*
*.pyc
*.ekf
*.mcl
*.obs
util/GameController/GameController.log
util/GameController/*.txt
*.geometry
*~
*#*#
docs/*
*.wav
*.so
*.pdf
*.o
util/scripts/nbites.bash
src/serenity/cache.txt
