build/*
install/*
data/*
ext/*
*.pyc
*.ekf
*.mcl
*.obs
/data/tables/*
noggin/util/fakeData/*
/noggin/util/navToObs
/noggin/util/obsToLoc
/noggin/offline/obsToLoc
/noggin/offline/navToObs
/TAGS
/man
/noggin/offline/noiseVaccuracy
/noggin/offline/.Rhistory
/noggin/offline/.RData
/comm/TAGS
/motion/TAGS
/vision/TAGS
/updateTags.sh
/corpus/TAGS
/noggin/TAGS
/noggin/offline/TAGS
/noggin/offline/*.o
/noggin/playbook/TAGS
/noggin/players/TAGS
/noggin/util/TAGS
/noggin/offline/convertRobotLog
/motion/README.dvi
/motion/README.out
/motion/README.aux
/motion/README.log
/motion/README.toc
/motion/README.pdf
/noggin/offline/c++filt
/noggin/offline/faker
/noggin/offline/fakerData/*
/util/GameController/GameController.log
/util/GameController/*.txt
/util/GameController/GameController/*
*.geometry
*~
#*#
docs/*
*.wav
*.so
src/remote/dist/javadoc/
*.pdf
*.o
ext/*
lib/*
/util/scripts/nbites.bash
/.metadata
/util/choregraphe/*
/util/flasher/*