build*
install/*
*config.h
*.pyc
*.ekf
*.mcl
*.obs
upload.sh
noggin/players/Switch.py
noggin/TeamConfig.py
noggin/util/fakeData/*
/noggin/util/navToObs
/noggin/util/obsToLoc
/noggin/offline/obsToLoc
/noggin/offline/navToObs
/TAGS
/man
/noggin/offline/noiseVaccuracy
/noggin/offline/.Rhistory
/noggin/offline/.RData
/comm/TAGS
/motion/TAGS
/vision/TAGS
/updateTags.sh
/corpus/TAGS
/noggin/TAGS
/noggin/offline/TAGS
/noggin/playbook/TAGS
/noggin/players/TAGS
/noggin/util/TAGS
