[submodule "src/ganymed-ssh2"]
	path = src/ganymed-ssh2
	url = git://github.com/northern-bites/ganymed-ssh2.git
[submodule "src/overseer"]
	path = src/overseer
	url = git://github.com/northern-bites/overseer.git
