build*
install/*
*.pyc
*.ekf
*.mcl
*.obs
noggin/util/fakeData/*
/noggin/util/navToObs
/noggin/util/obsToLoc
/noggin/offline/obsToLoc
/noggin/offline/navToObs
/TAGS
/man
/noggin/offline/noiseVaccuracy
/noggin/offline/.Rhistory
/noggin/offline/.RData
/comm/TAGS
/motion/TAGS
/vision/TAGS
/updateTags.sh
/corpus/TAGS
/noggin/TAGS
/noggin/offline/TAGS
/noggin/offline/*.o
/noggin/playbook/TAGS
/noggin/players/TAGS
/noggin/util/TAGS
/noggin/offline/convertRobotLog
/motion/README.dvi
/motion/README.out
/motion/README.aux
/motion/README.log
/motion/README.toc
/motion/README.pdf
docs*
/noggin/offline/c++filt
/noggin/offline/faker
